/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  /* margin: 50px; */
}

p {
  color: rgb(221, 225, 18);
  margin: 0;
  padding: 0;
}

#outer-box{
  background-color: rgb(165, 16, 108);
  padding: 100px
}

.inner-box{
  background-color: red;
}

.white-text{
  color: white;
}